# Directus Core & Environment
cms/.env
cms/.env.*
cms/node_modules/

cms/database/*.db
cms/database/*.sqlite
cms/uploads/*

!cms/database/.gitkeep
!cms/uploads/.gitkeep

# Extensions
!cms/extensions/
cms/extensions/.gitkeepstyle.css

# Testing coverage
coverage/
